<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
</head>
<body>
<a href="/add">Add a Message</a><br />
<table>
    <tr>
        <th>Subject</th>
        <th>Content</th>
        <th>Posteddate</th>
        <th>Sentby</th>
        <th>Actions</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.posteddate}"></td>
        <td th:text="${message.sentby}"></td>
    <td>
        <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
        <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
        <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
    </td></tr>
</table>
</body>
</html>